body {
  display: flex;
  font-family: Open Sans;
  justify-content: center;
  align-items: center;
/*   text-align: center; */
  background-color: rgb(132,84,82);
}

#weather-feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid grey;
  background-color: rgb(132,84,82);
}

#weather-feed > h1 {
  margin: 20px 100px;
}

#weather-feed > p {
  font-size: 20px;
}

#location {
  font-size: 150%;
  font-weight: bold;
}

#temp {
  font-size: 200%;
  font-weight: bold;
}

#fahrenheit {
  color: blue;
}

sup:hover {
  cursor: pointer;
}

#btn-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: rgb(132,84,82);
}

#btn-box > div {
  margin-top: 5px;
  height: 12%;
  width: 25%;
  background-color: rgb(151, 184, 177);
}
